@inherits LayoutComponentBase

<div class="page">
    <section>
        <NavMenu />
    </section>

    <main>
        <section class="pearl-color borderless">
			@Body
		</section>
    </main>
</div>
