@inherits LayoutComponentBase

<div class="page">
    <div class="top-bar">
        <NavMenu />
    </div>

    <main>
		
        <article class="content pearl-color" style="margin: 0; padding: 0;">
			@Body
		</article>
    </main>
</div>
