@inherits LayoutComponentBase

<div class="page">
    <div class="sticky-top">
        <NavMenu />
        <StaffNavMenu /> @* Temporary *@
    </div>

    <main>
        <section class="pearl-color borderless">
			@Body
		</section>
    </main>
</div>
