@inherits LayoutComponentBase

<div class="page">
    <header class="sticky-top">
        <NavMenu />
        <StaffNavMenu /> @* Temporary *@
    </header>

    <main>
        <section class="pearl-color borderless">
			@Body
		</section>
    </main>
</div>
