@* 

<div class="image-grid">
	<img class="image-grid-col-2 image-grid-row-2" src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
</div>

    <div class="Hotel-Name">
        <h1>The Savoy</h1>
        <p>A Luxury Hotel in London</p>
    </div>

<div class="Hotel-Info">
    <div class="Hotel-Description">
        <h2>Description</h2>
        <p>The Savoy, a Fairmont Managed Hotel, is a five-star luxury hotel located on the Strand in the heart of London, England. It is one of the most iconic hotels in the world, and has been welcoming guests since it opened in 1889. The Savoy has 268 rooms and suites, all of which are decorated in a luxurious style. The suites are even more luxurious, and some of them have balconies with views of the River Thames.</p>
    </div>

    <div class="Map-Container">
        <div class="Map">
            <p>
                Lorem ipsum dolor sit amet. Eum omnis voluptatibus qui fugit voluptatum vel eligendi error ut distinctio velit est voluptas molestias id molestias nisi! Ut voluptatem magni ut praesentium enim aut dolores quis aut nihil iusto et consequatur rerum ut mollitia illo ut illum animi. Ut rerum aperiam quo adipisci fugit aut dolores aspernatur et eaque!
            </p>
        </div>
    </div>
</div>

<div class="Hotel-Amentities">
    <h2>Amentities</h2>
    <ul>
        <li>Swimming Pool</li>
        <li>Free Wifi</li>
        <li>Free Parking</li>
        <li>Work desk with computer</li>
    </ul>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> *@