@page "/staffviewdashboard"

<PageTitle>RoomScout.Org - Dashboard</PageTitle>

<section class="background-color">
	<div class="Dashboard-Container">
		<div class="button-wrapper">
			<button class="right-aligned-button">Lorem</button>
		</div>
		<div class="Dashboard-Grid">
			<div class="DG1">
				<div class="grid-1">
					<h4>Overview</h4>
					<p>Lorem</p>
				</div>
			</div>
			<div class="DG2">
				<div class="grid-2">
					<h4>Rooms</h4>
					<p>Lorem</p>
				</div>
			</div>
			<div class="DG3">
				<div class="grid-3">
					<h4>Room Status</h4>
					<p>Lorem</p>
				</div>
			</div>
			<div class="DG4">
				<div class="grid-4">
					<h4>Booking Status</h4>
					<p>Lorem</p>
				</div>
			</div>
			<div class="DG5">
				<div class="grid-5">
					<h4>Occupancy Statistics</h4>
					<p>Lorem</p>
				</div>
			</div>
			<div class="DG6">
				<div class="grid-6">
					<h4>Reviews</h4>
					<p>Lorem</p>
				</div>
			</div>
		</div>
	</div>
</section>