.image-grid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 150px;
	gap: 24px;
	padding: 1rem 7.5rem;
}

	.image-grid > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

.Hotel-Info {
	display: flex;
	flex: 1;
}

.Hotel-Name {
	background-color: #8EB4E5;
	color: white;
	text-align: center;
	padding: 1rem;
}

.Hotel-Description {
	max-width: 720px;
	padding-left: 7.5rem;
	padding-top: 1rem;
}

.Hotel-Amentities {
	padding-left: 7.5rem;
}

h1, h2 {
	margin-bottom: 0.5rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding-top: 0.5rem;
}

.Map-Container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	padding-right: 7.5rem;
	padding-top: 1rem;
	padding-left: 9rem;
}

.Map {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-height: 180px;
}
