@* 

<PageTitle>RoomScout.Org - Bookings</PageTitle>

<section class="background-color">
	<div class="Dashboard-Container">
		<div class="button-wrapper">
			<button class="right-aligned-button">Lorem</button>
		</div>
		<div class="Booking-List">
			<div class="Booking-Header">
				<div><h2>Booking ID</h2></div>
				<div><h2>Check-In</h2></div>
				<div><h2>Check-Out</h2></div>
				<div><h2>Destination</h2></div>
				<div><h2>No. Guests</h2></div>
				<div><h2>Status</h2></div>
				<div><h2>Staff ID</h2></div>
				<div><h2>Customer ID</h2></div>
				<div><h2>Stay ID</h2></div>
				<div><h2>Hotel ID</h2></div>
			</div>
			<hr>
			<div class="Booking-Data">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</section>

<section style="background-color: #ffffff; display: flex; flex-direction: column; min-height: 560px; padding: 1rem; border-radius: 0.5rem;">
	<div style="flex-grow: 1; display: flex; flex-direction: column;">
		<div style="display: flex; justify-content: center; align-items: center; padding: 1rem;">
			<img src="./css/img/StaffBooking.png" alt="Booking Icon">
		</div>
		<div style="flex-grow: 1; padding: 1rem; display: flex; flex-direction: column;">
			<div>
				<h2 style="padding-inline: 1rem; margin-block: 0.5rem; font-size: 1rem; font-weight: 600; text-align: left;">Staff Name</h2>
				<input style="margin-inline: 1rem; border-radius: 0.2rem;" placeholder="Name">
			</div>
			<div>
				<h2 style="padding-inline: 1rem; margin-block: 0.5rem; font-size: 1rem; font-weight: 600; text-align: left;">Customer ID</h2>
				<input style="margin-inline: 1rem; border-radius: 0.2rem;" placeholder="ID">
			</div>
			<div>
				<h2 style="padding-inline: 1rem; margin-block: 0.5rem; font-size: 1rem; font-weight: 600; text-align: left;">Booking ID</h2>
				<input style="margin-inline: 1rem; border-radius: 0.2rem;" placeholder="ID">
			</div>
			<div>
				<h2 style="padding-inline: 1rem; margin-block: 0.5rem; font-size: 1rem; font-weight: 600; text-align: left;">Status</h2>
				<input style="margin-inline: 1rem; border-radius: 0.2rem;" placeholder="True">
			</div>
			<div>
				<h2 style="padding-inline: 1rem; margin-block: 0.5rem; font-size: 1rem; font-weight: 600; text-align: left;">Discount</h2>
				<input style="margin-inline: 1rem; border-radius: 0.2rem;" placeholder="$100">
			</div>
		</div>
		<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1rem; gap: 1rem;">
			<button class="Cancel-Button">
				Cancel
			</button>
			<button class="Save-Button">
				Save
			</button>
		</div>
	</div>
</section> *@