@page "/500"

<div class="EH-container">
	<div class="EH-value">
		<h1 style="margin-block: 1rem;">We have encountered an error completing your request.<br/>Please try again.</h1>
		<img src="./warning.png" alt="Unauthorized access" style="width: 400px; height: 400px;"/>
	</div>
</div>