:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
}

.Booking-Container {
    width: 60%;
    padding: 2rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    position: sticky
}

    .Booking-Container form {
        width: 100%;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .Booking-Container .input-group {
        width: 100%;
        position: relative;
    }

    .Booking-Container label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 1.2rem;
        font-weight: 500;
        pointer-events: none;
        transition: 0.3s;
    }

    .Booking-Container input {
        width: 100%;
        padding: 10px 0;
        font-size: 1rem;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--primary-color);
        color: var(--text-dark);
    }

        .Booking-Container input:focus ~ label {
            font-size: 0.8rem;
            top: 0;
        }

    .Booking-Container .form-group p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: var(--text-light);
    }

    .Booking-Container .btn {
        margin-top: -4px;
        padding: 1rem;
        outline: none;
        border: none;
        font-size: 1.5rem;
        color: var(--white);
        background-color: var(--primary-color);
        border-radius: 100%;
        cursor: pointer;
        transition: 0.3s;
    }

        .Booking-Container .btn:hover {
            background-color: var(--primary-color-dark);
        }

.container {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.filter-bar {
    display: flex;
    justify-content: space-around;
    padding: 14px;
}

.filter-container {
    position: relative;
    display: inline-block;
}

    .filter-container label {
        display: block;
        margin-bottom: 5px;
    }

    .filter-container select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 0.5rem;
    }

#filter-btn {
    background-color: #8EB4E5;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
