@page "/browse"

<PageTitle>RoomScout.Org - Browse</PageTitle>

<section>
    <div class="Booking-Container">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" />
                    <label>Destination</label>
                </div>
                <p>Where are you going?</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" />
                    <label>Check In</label>
                </div>
                <p>Add date</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" />
                    <label>Check Out</label>
                </div>
                <p>Add date</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" />
                    <label>Guests & Rooms</label>
                </div>
                <p>Add guests & rooms</p>
            </div>
        </form>
        <button class="btn"><img src="./css/img/magnifying-glass.png"></button>
    </div>


    <div class="container">
        <div class="filter-bar">
            <div class="filter-container">
                <label for="price-select">Price:</label>
                <select id="price-select" name="price-select">
                    <option value="default">--Please choose an option--</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>

            <button id="filter-btn">Filter</button>
        </div>
    </div>
</section>


<BrowseComponent />
