@page "/hoteldescription"

<div class="image-grid">
	<img class="image-grid-col-2 image-grid-row-2" src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
	<img src="css/img/popular1.jpg" alt="hotel pic">
</div>

