@page "/"

<PageTitle>RoomScout.Org</PageTitle>

<header class="section__container header__container">
    <div class="header__image__container section__pearl">
        <div class="booking__container">
            <form>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Destination</label>
                    </div>
                    <p>Where are you going?</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check In</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check Out</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Guests & Rooms</label>
                    </div>
                    <p>Add guests & rooms</p>
                </div>
            </form>
            <button class="btn"><i class="ri-search-line"></i></button>
        </div>
    </div>

</header>

<section style="margin-top: 15px;">
    <div class="section__container section__white" style="position: relative;">
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <div id="slides">
                <div id="overflow">
                    <div class="inner">
                        <div class="slide slide_1">
                            <div class="slide-content">
                                <h2>Slide 1</h2>
                                <p>Content for Slide 1</p>
                            </div>
                        </div>
                        <div class="slide slide_2">
                            <div class="slide-content">
                                <h2>Slide 2</h2>
                                <p>Content for Slide 2</p>
                            </div>
                        </div>
                        <div class="slide slide_3">
                            <div class="slide-content">
                                <h2>Slide 3</h2>
                                <p>Content for Slide 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
            </div>
            <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
            </div>

            <button class="prev-button"><img src="./css/img/left-arrow.png"></button>
            <button class="next-button"><img src="./css/img/left-arrow.png" style="transform: rotate(180deg);"></button>
        </div>
    </div>
</section>
