@page "/"

<PageTitle>RoomScout.Org</PageTitle>

<section class="section__container header__container">
    <div class="header__image__container section__pearl">
        <div class="booking__container">
            <form>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Destination</label>
                    </div>
                    <p>Where are you going?</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check In</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check Out</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Guests & Rooms</label>
                    </div>
                    <p>Add guests & rooms</p>
                </div>
            </form>
            <button class="btn"><img src = "./css/img/magnifying-glass.png"></button>
        </div>
    </div>
</section>


<section class="section recent__container">
    <div class="section__container section__white" style="position: relative;">
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <div id="slides">
                <div id="overflow">
                    <div class="inner">
                        <div class="slide slide_1">
                            <div class="slide-content">
                                <div class="text-left">
                                    <h2><b>Your Recent Searches</b></h2>
                                    <br> 
                                    <p></p>
                                    <p>This stylish hotel is located in the heart of Tokyo, just steps away from some of the city's most popular attractions. Guests can enjoy stunning views of the city skyline from the hotel's rooftop bar. The hotel also has a variety of restaurants, a spa, and a fitness center.</p>
                                    <button class="GoBack-btn px-3">Go Back</button>
                                </div>
								<img src="./css/img/HotelRecentImg.png" class="img-right">
                            </div>
                        </div>
                        <div class="slide slide_2">
                            <div class="slide-content">
                                <div class="text-left">
                                    <h2><b>Your Recent Searches</b></h2>
                                    <br>
                                    <p></p>
                                    <p>This stylish hotel is located in the heart of Tokyo, just steps away from some of the city's most popular attractions. Guests can enjoy stunning views of the city skyline from the hotel's rooftop bar. The hotel also has a variety of restaurants, a spa, and a fitness center.</p>
                                    <button class="GoBack-btn px-3">Go Back</button>
                                </div>
                                <img src="./css/img/HotelRecentImg.png" class="img-right">
                            </div>
                        </div>
                        <div class="slide slide_3">
                            <div class="slide-content">
                                <div class="text-left">
                                    <h2><b>Your Recent Searches</b></h2>
                                    <br>
                                    <p></p>
                                    <p>This stylish hotel is located in the heart of Tokyo, just steps away from some of the city's most popular attractions. Guests can enjoy stunning views of the city skyline from the hotel's rooftop bar. The hotel also has a variety of restaurants, a spa, and a fitness center.</p>
                                    <button class="GoBack-btn px-3">Go Back</button>
                                </div>
                                <img src="./css/img/HotelRecentImg.png" class="img-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
            </div>
            <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
            </div>

            <button class="prev-button"><img src="./css/img/left-arrow.png"></button>
            <button class="next-button"><img src="./css/img/left-arrow.png" style="transform: rotate(180deg);"></button>
        </div>
    </div>
</section>


<section class="section__container popular__container">
    <h2 class="section__header">Popular Destinations</h2>
    <div class="popular__grid">
        <div class="popular__card">
            <img src="./css/img/popular1.jpg" alt="popular hotel 1" style="width:460px;height:250px;" />
            <div class="popular__content">
                <div class="popular__card__header">
                    <h4>The Okura Tokyo, Japan</h4>
                </div>
                <p>The Okura Tokyo is a luxurious hotel located in the heart of Tokyo, just steps away from some of the city's most popular attractions.</p>
            </div>
        </div>
    <div class="popular__card">
            <img src="./css/img/popular2.jpg" alt="popular hotel 2" style="width:460px;height:250px;" />
        <div class="popular__content">
            <div class="popular__card__header">
                <h4>Park Hyatt Seoul, Korea</h4>
            </div>
            <p>Park Hyatt Seoul is a luxurious hotel located in the heart of Gangnam, Seoul's most prestigious business district. </p>
        </div>
    </div>
    <div class="popular__card">
            <img src="./css/img/popular3.jpg" alt="popular hotel 3" style="width:460px;height:250px;" />
        <div class="popular__content">
            <div class="popular__card__header">
                <h4>Atlantis The Royal, Dubai</h4>
            </div>
            <p>Atlantis The Royal is an ultra-luxurious resort located on Palm Jumeirah in Dubai, United Arab Emirates.</p>
        </div>
    </div>
</div>
</section>