:root {
	--primary-color: #2c3855;
	--primary-color-dark: #435681;
	--text-dark: #333333;
	--text-light: #767268;
	--extra-light: #f3f4f6;
	--white: #ffffff;
	--max-width: 1200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__pearl { 
	background-color: #F2F2F2;
}

.section__white {
	background-color: #FFFFFF;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.header__container {
	padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
	position: relative;
	min-height: 500px;
	background-image: url("css/img/BookingThumbnail.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2rem;
}

.booking__container {
	position: absolute;
	bottom: -5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 6rem);
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 3rem 2rem;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
	width: 100%;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.booking__container .input__group {
	width: 100%;
	position: relative;
}

.booking__container label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--text-dark);
	pointer-events: none;
	transition: 0.3s;
}

.booking__container input {
	width: 100%;
	padding: 10px 0;
	font-size: 1rem;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid var(--primary-color);
	color: var(--text-dark);
}

.booking__container input:focus ~ label {
	font-size: 0.8rem;
	top: 0;
}

.booking__container .form__group p {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: var(--text-light);
}

.booking__container .btn {
	margin-top: -4px;
	padding: 1rem;
	outline: none;
	border: none;
	font-size: 1.5rem;
	color: var(--white);
	background-color: var(--primary-color);
	border-radius: 100%;
	cursor: pointer;
	transition: 0.3s;
}

.booking__container .btn:hover {
	background-color: var(--primary-color-dark);
}




/* Slider Image */
#slider {
	flex: 1;
	margin: 0 auto;
	width: 80vw;
	text-align: center;
}

	#slider input[type=radio] {
		display: none;
	}

	#slider label {
		cursor: pointer;
		text-decoration: none;
	}

#slides {
	background: #fff;
	position: relative;
	z-index: 1;
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slide1:checked ~ #slides .inner {
	margin-left: 0;
}

#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}

#slides .inner {
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	line-height: 0;
	height: 500px;
}

#slides .slide {
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
}

.slide-content {
	display: grid;
	grid-template-columns: 35vw 1fr;
}

.img-right {
	position: relative;
	margin-top: auto;
	width: 40vw;
}

.text-left {
	position: relative;
	width: 35vw;
	text-align: left;
	height: auto;
	padding: 20px 30px 20px 70px;
	color: black;
}

.text-left p {
	line-height: 1.5;
	word-wrap: break-word;
	font-size: 18px;
}

.GoBack-btn {
	font-size: 0.9rem;
	border-radius: 4px;
	display: flex;
	align-items: center;
	line-height: 1rem;
	text-decoration: none;
	background-color: #8eb4e5;
	color: white;
	padding: 0.5rem 1rem;
	border: none;
}

#slides .slide_1 {
	background: white;
}

#slides .slide_2 {
	background: white;
}

#slides .slide_3 {
	background: white;
}

#controls {
	margin: -180px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}

#controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: .4;
}

#controls label:hover {
	opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}

#bullets {
	margin: 150px 0 0;
	text-align: center;
}

#bullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ccc;
	margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
	background: #444;
}

@media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(2),
	#slide2:checked ~ #controls label:nth-child(3),
	#slide3:checked ~ #controls label:nth-child(1),
	#slide1:checked ~ #controls label:nth-last-child(2),
	#slide2:checked ~ #controls label:nth-last-child(3),
	#slide3:checked ~ #controls label:nth-last-child(1) {
		margin: 0;
	}

	#slides {
		max-width: calc(100% - 140px);
		margin: 0 auto;
	}
}



.Popular-Section {
	min-height: 480px;
	margin: 0px;
	padding: 0px;
	background-color: #f2f2f2;
}

.Popular-Display {
	margin-block: 0.5rem;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
}

	.Popular-Display h2 {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
	}

	.Popular-Display p {
		overflow-wrap: break-word;
		font-size: 1.2rem;
		text-align: center;
	}

.Popular-Grid {
	flex-grow: 1;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"pg1 pg2 pg3";

	gap: 1rem;
	padding: 0.5rem;

}

	.Popular-Grid img {
		inline-size: 100%;
		aspect-ratio: 5 / 2.5;
		object-fit: cover;
		border-radius: 1rem;
	}

	.Popular-Grid h4 {
		padding-inline: 1rem;
		margin-block: 0.5rem;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: left;
	}

	.Popular-Grid p {
		padding-inline: 1rem;
		margin-bottom: 0.5rem;
		overflow-wrap: break-word;
		font-size: 1rem;
		text-align: left;
	}

.PG-1 {
	grid-area: pg1;
	border-radius: 1rem;
	background-color: #ffffff;
}

.PG-2 {
	grid-area: pg2;
	border-radius: 1rem;
	background-color: #ffffff;
}

.PG-3 {
	grid-area: pg3;
	border-radius: 1rem;
	background-color: #ffffff;
}

.About-Section {
	margin-block: 1rem;
	padding: 0px;
	background-color: #ffffff;
}

.About-Display {
	margin-block: 0.5rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

	.About-Display h2 {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
	}

	.About-Display p {
		overflow-wrap: break-word;
		font-size: 1.2rem;
		text-align: center;
	}

.About-Grid {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"ag1 ag2 ag3";
	gap: 1rem;
	padding: 0.5rem;
}

	.About-Grid img {
		inline-size: 100%;
		aspect-ratio: 5 / 2.5;
		object-fit: cover;
		border-radius: 1rem;
	}

	.About-Grid h4 {
		padding-inline: 1rem;
		margin-block: 0.5rem;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: left;
	}

	.About-Grid p {
		padding-inline: 1rem;
		margin-bottom: 0.5rem;
		overflow-wrap: break-word;
		font-size: 1rem;
		text-align: left;
	}

.AG-1 {
	grid-area: ag1;
	border-radius: 1rem;
	background-color: #f2f2f2;
}

.AG-2 {
	grid-area: ag2;
	border-radius: 1rem;
	background-color: #f2f2f2;
}

.AG-3 {
	grid-area: ag3;
	border-radius: 1rem;
	background-color: #f2f2f2;
}

.RoomScout {
	margin: 0px;
	display: flex;
	flex-direction: row;
}

.Logo-RoomScout {
	margin: 0px;
	padding: 1.8rem;
}

.About-RoomScout {
	flex-grow: 1;
	margin: 0px;
	padding: 1.8rem;

	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: center;
}

	.About-RoomScout h4 {
		padding-inline: 1rem;
		margin-block: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		text-align: left;
	}

	.About-RoomScout p {
		padding-inline: 1rem;
		margin-bottom: 0.5rem;
		overflow-wrap: break-word;
		font-size: 0.8rem;
		text-align: left;
	}