@page "/"

<PageTitle>Index</PageTitle>

<header class="section__container header__container section__pearl">
    <div class="header__image__container">
        <div class="booking__container">
            <form>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Destination</label>
                    </div>
                    <p>Where are you going?</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check In</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Check Out</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form__group">
                    <div class="input__group">
                        <input type="text" />
                        <label>Guests & Rooms</label>
                    </div>
                    <p>Add guests & rooms</p>
                </div>
            </form>
            <button class="btn"><i class="ri-search-line"></i></button>
        </div>
    </div>
</header>