@page "/"

<PageTitle>RoomScout.Org - Home</PageTitle>

<section class="Hero-Section">
    <div class="Hero-Image-Container">
        <div class="Booking-Container">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="Kuatan" />
                        <label>Destination</label>
                    </div>
                    <p>Where are you going?</p>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="date" />
                        <label>Check In</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="date"  />
                        <label>Check Out</label>
                    </div>
                    <p>Add date</p>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="3" />
                        <label>Guests & Rooms</label>
                    </div>
                    <p>Add guests & rooms</p>
                </div>
            </form>
            <button class="btn" onclick="window.location.href='/booking';"><img src="./css/img/magnifying-glass.png"></button>
        </div>
    </div>
</section>

<section class="Recent-Section">
    <div class="Recent-Display">
        <div class="RD-1">
            <div class="content">
                <h2>Your Recent Searches</h2>
                <p>This stylish hotel is located in the heart of Tokyo, just steps away from some of the city's most popular attractions. Guests can enjoy stunning views of the city skyline from the hotel's rooftop bar. The hotel also has a variety of restaurants, a spa, and a fitness center.</p>
                <div class="nav-item" style="width: fit-content; margin-left: 1rem;">
                    <button class="nav-button" onclick="window.location.href='/stay';">
							<span aria-hidden="true"></span> Go Back
                    </button>
                </div>
            </div>
        </div>
        <div class="RD-2">
            <div class="content">
                <img src="./css/img/HotelRecentImg.png" class="img-right">
            </div>
        </div>
    </div>
</section>

<section class="Popular-Section">
    <div class="Popular-Display">
        <h2>Popular Destinations</h2>
        <p>Let our popular picks guide you to your dream getaway!</p>
        <div class="Popular-Grid">
            <a onclick="window.location.href='/booking';" style="text-decoration: none;">
                <div class="PG-1">
                    <img src="./css/img/popular1.jpg" alt="popular hotel 1">
                    <h4>The Okura Tokyo, Japan</h4>
                    <p>The Okura Tokyo is a luxurious hotel located in the heart of Tokyo, just steps away from some of the city's most popular attractions.</p>
                </div>
            </a>
            <a onclick="window.location.href='/booking';" style="text-decoration: none;">
                <div class="PG-2">
                    <img src="./css/img/popular2.jpg" alt="popular hotel 2">
                    <h4>Park Hyatt Seoul, Korea</h4>
                    <p>Park Hyatt Seoul is a luxurious hotel located in the heart of Gangnam, Seoul's most prestigious business district. </p>
                </div>
            </a>
            <a onclick="window.location.href='/booking';" style="text-decoration: none;">
                <div class="PG-3">
                    <img src="./css/img/popular3.jpg" alt="popular hotel 3">
                    <h4>Atlantis The Royal, Dubai</h4>
                    <p>Atlantis The Royal is an ultra-luxurious resort located on Palm Jumeirah in Dubai, United Arab Emirates.</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="About-Section">
    <div class="About-Display">
        <h2>About RoomScout</h2>
        <div class="About-Grid">
            <div class="AG-1">
                <h4>Find cheap hotels on RoomScount</h4>
                <p>With RoomScount you can easily find your ideal hotel and compare prices from different websites. Simply enter where you want to go and your desired travel dates, and let our hotel search engine compare accommodation prices for you. To refine your search results, simply filter by price, distance (e.g. from the beach), star category, facilities and more.</p>
            </div>
            <div class="AG-2">
                <h4>How to book</h4>
                <p>RoomScount is a hotel search with an extensive price comparison. The prices shown come from numerous hotels and booking websites. This means that while users decide on RoomScount which hotel best suits their needs, the booking process itself is completed through the booking sites (which are linked to our website)</p>
            </div>
            <div class="AG-3">
                <h4>Hotel reviews help you find your ideal hotel</h4>
                <p>Over 175 million aggregated hotel ratings and more than 19 million images allow you to find out more about where you're travelling. To get an extended overview of a hotel property, RoomScount shows the average rating and extensive reviews from other booking sites</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="RoomScout">
        <div class="Logo-RoomScout">
            <img src="/css/img/roomscout.png" alt="HotelBooking" height="54">
        </div>
        <div class="About-RoomScout">
            <div>
                <h4>Company</h4>
                <p>How we work</p>
                <p>Careers</p>
                <p>Sustainability</p>
            </div>
            <div>
                <h4>Additional Services</h4>
                <p>Car rental</p>
                <p>Flight finder</p>
                <p>Restaurant reservation</p>
                <p>See more</p>
            </div>
            <div>
                <h4>About</h4>
                <p>Terms & conditions</p>
                <p>Privacy policy</p>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 0.5rem;">
        <p>Copyright © 2023 RoomScout.Org</p>
    </div>
</footer>


