@page "/payments"

<PageTitle>RoomScout.Org - Bookings</PageTitle>

<section class="background-color">
	<div class="Payment-Container">
		<div class="Payment-Inputs">

		</div>

		<div class="Payment-Picture-Container">
			<div class="Payment-Picture">
				<img src="css/img/popular2.jpg" alt="Hotel Image">
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. non proident</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. non proident</p>
				<hr>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. non proident</p>
			</div>
			<div class="Payment-Button">
				<button>Confirm Pay</button>
			</div>
		</div>
	</div>
</section>