.background-color {
    background-color: #8EB4E5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 1rem;
}

.Dashboard-Container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

    .Dashboard-Container h2 {
        padding-inline: 1rem;
        margin-block: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }

    .Dashboard-Container p {
        flex-grow: 1;
        padding-inline: 1rem;
        margin-bottom: 0.5rem;
        overflow-wrap: break-word;
        font-size: 1rem;
        text-align: justify;
    }

    .Dashboard-Container hr {
        margin-top: 0px;
        margin-bottom: 0.5rem;
    }

.right-aligned-button {
    width: 140px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 0.5rem;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

    .right-aligned-button:active {
        outline: 2px solid white;
    }

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.Booking-List {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 640px;
}

.Booking-Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;
}

.Booking-Data {
    display: flex;
}

.Cancel-Button {
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid black;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
    .Cancel-Button:active {
        outline: 2px solid black;
    }

.Save-Button {
    width: 140px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 0.5rem;
    border: 1px #1570EF;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

    .Save-Button:active {
        outline: 2px solid black;
    }