@page "/staffviewstay"

<PageTitle>RoomScout.Org - Stay</PageTitle>

<section class="background-color">
	<div class="Dashboard-Container">
		<div class="button-wrapper">
			<button class="right-aligned-button">Lorem</button>
		</div>
		<div class="Stay-List">
			<div class="Stay-Header">
				<div><h2>Stay ID</h2></div>
				<div><h2>Emergency No.</h2></div>
				<div><h2>Occupancy Status</h2></div>
				<div><h2>Services</h2></div>
				<div><h2>RoomType ID</h2></div>
				<div><h2>Room ID</h2></div>
				<div><h2>Room No.</h2></div>

			</div>
			<hr>
			<div class="Stay-Data">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</section>