@page "/unauthorized"

<div class="EH-container">
	<div class="EH-value">
		<h3 style="margin-bottom: 1rem; margin-top: 2rem;">You are not authorized to access this resource.</h3>
		<img src="./warning.png" alt="Unauthorized access" style="width: 250px; height: 250px;"/>
	</div>
</div>