<div class="Hotel-Grid">
    <div class="Hotel-Card">
        <img src="" alt="Hotel Image">
        <h3>Hotel Name 1</h3>
        <p>blahblah</p>
    </div>

    <div class="Hotel-Card">
        <img src="" alt="Hotel Image">
        <h3>Hotel Name 2</h3>
        <p>blahblah</p>
    </div>
</div>