<div class="Page-Container">
    <div class="Hotel-Grid">
        <div class="Hotel-Card">
            <img src="css/img/popular1.jpg" alt="Hotel Image">
            <h3>Hotel Name 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="/hoteldescription" style="text-decoration: none; color: white;"> <button>Book Now</button></a>
        </div>  

        <div class="Hotel-Card">
            <img src="css/img/popular2.jpg" alt="Hotel Image">
            <h3>Hotel Name 2</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. non proident</p>
            <button>Book Now</button>
        </div>

        <div class="Hotel-Card">
            <img src="css/img/popular3.jpg" alt="Hotel Image">
            <h3>Hotel Name 3</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            <button>Book Now</button>
        </div>

        <div class="Hotel-Card">
            <img src="css/img/popular3.jpg" alt="Hotel Image">
            <h3>Hotel Name 3</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            <button>Book Now</button>
        </div>
    </div>

    <div class="Map-Container">
        <div class="Map">
            <p>
                Lorem ipsum dolor sit amet. Eum omnis voluptatibus qui fugit voluptatum vel eligendi error ut distinctio velit est voluptas molestias id molestias nisi! Ut voluptatem magni ut praesentium enim aut dolores quis aut nihil iusto et consequatur rerum ut mollitia illo ut illum animi. Ut rerum aperiam quo adipisci fugit aut dolores aspernatur et eaque unde aut fuga molestiae!

                Nam dolor sunt cum possimus possimus sit aliquam numquam ut facilis assumenda. Qui doloribus dicta ut minus tempore aut quibusdam sint a corrupti eaque ea consequuntur fugiat ut error odio id dolores soluta.

                Sit inventore cumque cum inventore tempora qui magnam autem est quia voluptatibus in ipsam sunt sed sint necessitatibus! Sed cumque beatae est sint quidem a quia perferendis est quam delectus. Eum dolores adipisci nam perspiciatis minima et aspernatur exercitationem sit iste nesciunt est mollitia nostrum.
            </p>
        </div>
    </div>
</div>