.image-hotel{
    padding: 1rem;
}

.image-hotel img {
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

.Hotel-Name {
    background-color: #8EB4E5;
    color: white;
    text-align: center;
    padding: 1rem;
}

.Hotel-Info {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.Hotel-Description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.Hotel-Amentities {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .Hotel-Amentities li {
        margin-bottom: 5px;
    }

.middle-aligned-button {
    width: 192px;
    height: 40px;
    background-color: #1b6ec2;
    border-radius: 0.5rem;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

    .middle-aligned-button:active {
        outline: 3px solid #0d6efd;
        outline-offset: 2px;
    }

    .middle-aligned-button:hover {
        background-color: #0b5ed7;
    }
    
.button-wrapper {
    display: flex;
    justify-content: center;
}