@page "/bookings"

<PageTitle>RoomScout.Org - Bookings</PageTitle>

<section class="background-color">
	<div class="Booking-Container">
		<div class="Booking-List">
			<div class="Booking-Header">
				<div><h2></h2></div>
				<div><h2>Booking ID</h2></div>
				<div><h2>Check-in</h2></div>
				<div><h2>Check-out</h2></div>
				<div><h2>Destination</h2></div>
				<div><h2>Status</h2></div>
				<div><h2>Customer ID</h2></div>
				<div><h2>Stay ID</h2></div>
				<div><h2>Hotel ID</h2></div>
			</div>
			<hr>
			<div class="Booking-Data">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</section>