@* 

<PageTitle>RoomScout.Org - Stay</PageTitle>

<section class="background-color">
	<div class="Dashboard-Container">
		<div class="button-wrapper">
			<button class="right-aligned-button">Lorem</button>
		</div>
		<div class="Stay-List">
			<div class="Stay-Header">
				<div><h2>Stay ID</h2></div>
				<div><h2>Emergency No.</h2></div>
				<div><h2>Occupancy Status</h2></div>
				<div><h2>Services</h2></div>
				<div><h2>RoomType ID</h2></div>
				<div><h2>Room ID</h2></div>
				<div><h2>Room No.</h2></div>

			</div>
			<hr>
			<div class="Stay-Data">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</section>

<section class="Stay-Modal">
	<div class="Stay-Inputs">
		<div class="SI-1">
			<div>
				<h2>Hotel Name</h2>
				<input placeholder="Enter a Hotel">
			</div>
			<div>
				<h2>Tags</h2>
				<select id="tag-select" name="tag-select">
					<option value="default">--Select tags--</option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</div>
		</div>
		<div class="SI-2">
			<div>
				<h2>Reference Number</h2>
				<input placeholder="Enter deal">
			</div>
			<div>
				<h2>Price</h2>
				<input placeholder="Enter price of deal">
			</div>
		</div>
		<div class="SI-3">
			<h2>Room Description</h2>
			<input placeholder="Enter a description...">
		</div>
		<div class="SI-4">
			<div>
				<h2>Room Type</h2>
				<select id="tag-select" name="tag-select">
					<option value="default">--Room Type--</option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</div>
			<div>
				<h2>Check-in Date</h2>
				<input placeholder="Start Date">
			</div>
		</div>
		<div class="SI-5">
			<div>
				<button class="Upload-Button">Upload Pictures</button>
			</div>
			<div>
				<h2>Check-out Date</h2>
				<input placeholder="End Date">
			</div>
		</div>
	</div>
	<div class="Stay-Buttons">
		<div class="Stay-Div">
			<button class="Cancel-Button">
				Cancel
			</button>
			<button class="Save-Button">
				Save
			</button>
		</div>
	</div>
</section> *@