.background-color {
    background-color: #8EB4E5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 1rem;
}

.Dashboard-Container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

    .Dashboard-Container h4 {
        padding-inline: 1rem;
        margin-block: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: justify;
    }

    .Dashboard-Container p {
        flex-grow: 1;
        padding-inline: 1rem;
        margin-bottom: 0.5rem;
        overflow-wrap: break-word;
        font-size: 1rem;
        text-align: justify;
    }

.right-aligned-button {
    width: 140px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 0.5rem;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

    .right-aligned-button:active {
        outline: 2px solid white;
    }

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.Dashboard-Grid {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "dg1 dg1 dg1"
        "dg2 dg2 dg2"
        "dg3 dg3 dg4"
        "dg5 dg5 dg6";

    gap: 1rem;
    margin-block: 1rem;
}

.DG1 {
    grid-area: dg1;

    display: flex;
    flex-direction: column;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 0.5rem;
    min-height: 240px;

    display: flex;
    flex-direction: column;
}

.DG2 {
    grid-area: dg2;

    display: flex;
    flex-direction: column;
}

.DG3 {
    grid-area: dg3;

    display: flex;
    flex-direction: column;
}

.DG4 {
    grid-area: dg4;

    display: flex;
    flex-direction: column;
}

.DG5 {
    grid-area: dg5;

    display: flex;
    flex-direction: column;
}

.DG6 {
    grid-area: dg6;

    display: flex;
    flex-direction: column;
}